.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 26rem;
  height: 50rem;
  border-radius: 20px;
  border: 10px solid white;
  padding-bottom: 0.5rem;
  background: none;
}

.cardImage {
  min-width: 34rem;
}
.cardImageSiluette {
  width: 26rem;
  -webkit-filter: grayscale(100%) brightness(0);
  filter: grayscale(100%) brightness(0);
  opacity: 0.7;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.bigText {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 0.5rem;
}
